/* style.css */
* {
    margin: 0;
    /* padding: 0; */
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container .head {
    /* background-color: aqua; */
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    z-index: 1000;
    position: absolute;
    top: 10px;
    left: 20px;

}

.container .head a {
    color: white;
    text-decoration: none;
    background-color: red;
    padding: 8px 18px;
    border-radius: 4px;
}

.container .head img {
    width: 11%;
}

.banner {
    width: 100%;
    height: 100vh;
}

.banner .fit {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}

.banner .box {
    /* background-color: rgb(83, 83, 18); */
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner .box .heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner .box .heading h2 {
    color: white;
    font-size: 3.125em;
    width: 80%;
}

.banner .box .heading h5 {
    color: white;
    font-size: 1.6em;
    font-weight: 500;
    padding: 1rem 0;
}

.banner .box .heading p {
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    padding: 15px 0;
    padding-bottom: 20px;
}

.banner .box .Email {
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.banner .box .Email input {
    min-width: 400px;
    height: 51px;
    font-size: 16px;
    outline: none;
    border: 1px solid grey;
    border-radius: 2px;
    padding: 10px 10px 0 0;
    color: black;
}

.banner .box .Email input::placeholder {
    position: absolute;
    top: 22px;
    left: 10px
}

.banner .box .Email a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 1.6rem;
    background-color: red;
    min-width: 200px;
    line-height: 63px;
    border-radius: 2px;
    text-align: center;
    padding: 0 30px;
    letter-spacing: 1px;
}

.banner:before {
    background: linear-gradient(to bottom, black, transparent);
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 250px;
    content: '';
    top: 0;
    left: 0;
}

.banner:after {
    background: linear-gradient(to top, black, transparent);
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 250px;
    content: '';
    bottom: 0;
    left: 0;
}

.card-1 {
    background-color: black;
    border-top: 8px solid grey;
    padding: 50px;
    color: #fff;
}

.card-1 {
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc-1 .h1 {
    font-size: 3rem;
    padding: 10rem;
    padding-left: 0;
}

.desc-1 .p {
    font-size: 1.7rem;
    line-height: 2rem;
}
.card-1 image{
    grid-column: ;
    grid-row: 
}